@use '../../../../assets/scss/base' as *;

.LoginWrapper {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
}
