@import "../../assets/scss/base";

.hide-arrows input::-webkit-outer-spin-button,
.hide-arrows input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
.hide-arrows input[type="number"] {
  -moz-appearance: textfield;
}

.input-box {
  position: relative;

  &.error {
    input,
    textarea {
      border-color: $secondary_500;
    }

    label {
      color: $secondary_500 !important;
      margin-bottom: 0.5rem;
    }
  }

  input,
  textarea {
    background: #ffffff;
    border: 1px solid $primary_500;
    border-radius: 5px;
    padding: 8px 12px;
    height: 42px;
    font-size: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    appearance: none;
    transition: 0.15s ease-in-out;
    &:focus,
    &:valid,
    &:autofill,
    &:active,
    &:not(:placeholder-shown) {
      margin-top: 1rem;
    }
    &:focus ~ label,
    &:valid ~ label,
    &:autofill ~ label,
    &:active ~ label,
    &:not(:placeholder-shown) ~ label {
      top: -1rem;
      left: 0;
      color: $primary_500;
      font-size: 0.875rem;
    }
  }

  textarea {
    height: auto;
    min-height: 100px;
  }

  label {
    color: $primary_300;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 12px;
    pointer-events: none;
    transition: 0.5s;
    font-size: 1rem;
  }

  .error-message {
    color: $secondary_500;
    font-size: 0.875rem;
  }
}
