@use './variables' as *;

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.d-none {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.center {
  display: grid;
  place-items: center;
}

.align-items {
  &-center {
    align-items: center;
  }

  &-start {
    align-items: flex-start;
  }

  &-end {
    align-items: flex-end;
  }
}

.justify-content {
  &-center {
    justify-content: center;
  }

  &-start {
    justify-content: flex-start;
  }

  &-end {
    justify-content: flex-end;
  }

  &-between {
    justify-content: space-between;
  }

  &-around {
    justify-content: space-around;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.gap-05 {
  gap: 0.5rem;
}

.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

@for $i from 1 through 5 {
  .gap-#{$i} {
    gap: #{$i}rem;
  }
}
.mb-05 {
  margin-bottom: 0.5rem;
}

@for $i from 0 through 5 {
  .mb-#{$i} {
    margin-bottom: #{$i}rem;
  }

  .mt-#{$i} {
    margin-top: #{$i}rem;
  }

  .mr-#{$i} {
    margin-right: #{$i}rem;
  }

  .ml-#{$i} {
    margin-left: #{$i}rem;
  }
}

@for $i from 0 through 5 {
  .p-#{$i} {
    padding: #{$i}rem;
  }
}

// font sizes
@for $i from 0 through 5 {
  .fs-#{$i} {
    font-size: #{$i}rem;
  }
}

.w-100 {
  width: 100%;
}

// loop for width
@for $i from 0 through 100 {
  .w-#{$i} {
    width: unquote("#{$i}%");
  }
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

// ellipsis
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-success {
  background-color: $success-100;
}

// font weight
.fw-bold {
  font-weight: 700;
}

.fw-medium {
  font-weight: 500;
}

.fw-light {
  font-weight: 300;
}
