/* =========================================
   1. PALETTE PRIMITIVE (Les bases tonales)
   Généré à partir de l'image Codley
   ========================================= */

// VIOLET AGILE (Dominante - Sagesse & Expertise)
$violet-50:  #EDE7F9;
$violet-100: #D1C4F0;
$violet-200: #B39EE6;
$violet-300: #9578DC;
$violet-400: #7F5CD3;
$violet-500: #6A35CE; // COULEUR DE BASE
$violet-600: #5E2EB6;
$violet-700: #51269D;
$violet-800: #441F85;
$violet-900: #2F125E;

// CYAN SPRINT (Accent - Vitesse & Fraîcheur)
$cyan-50:  #E0FBF9;
$cyan-100: #B3F4EF;
$cyan-200: #80EDE4;
$cyan-300: #4DE6D9;
$cyan-400: #26E1D0;
$cyan-500: #00D4C7; // COULEUR DE BASE
$cyan-600: #00BDB0;
$cyan-700: #00A398;
$cyan-800: #008A80;
$cyan-900: #005F57;

// NEUTRES & SURFACES (Basé sur le gris bleuté "Tech")
$grey-50:  #F9FAFB;
$grey-100: #F3F4F6;
$grey-200: #E5E7EB;
$grey-300: #D1D5DB;
$grey-400: #9CA3AF;
$grey-500: #6B7280;
$grey-600: #4B5563;
$grey-700: #374151;
$grey-800: #1F2937;
$grey-900: #111827; // BASE TEXTE

$primary-50: #eeebf7;
$primary-100: #c9c1e5;
$primary-200: #afa3d8;
$primary-300: #8b78c7;
$primary-400: #755ebc;
$primary-500: #5236ab;
$primary-600: #4b319c;
$primary-700: #3a2679;
$primary-800: #2d1e5e;
$primary-900: #221748;

$secondary-50: #fce8eb;
$secondary-100: #f7b8c1;
$secondary-200: #f395a3;
$secondary-300: #ed6579;
$secondary-400: #e9475f;
$secondary-500: #e41937;
$secondary-600: #cf1732;
$secondary-700: #a21227;
$secondary-800: #7d0e1e;
$secondary-900: #600b17;

$warning-50: #fef7e9;
$warning-100: #fce7bb;
$warning-200: #fbdc9a;
$warning-300: #f9cb6c;
$warning-400: #f8c14f;
$warning-500: #f6b223;
$warning-600: #e0a220;
$warning-700: #af7e19;
$warning-800: #876213;
$warning-900: #674b0f;

$success-50: #f5fcf0;
$success-100: #e1f5d1;
$success-200: #d3f0bb;
$success-300: #bfea9d;
$success-400: #b2e589;
$success-500: #9fdf6c;
$success-600: #91cb62;
$success-700: #719e4d;
$success-800: #577b3b;
$success-900: #435e2d;

$gradient: linear-gradient(270deg, #6200ee 0%, #e41937 100%);

/*=============================================
=            Spaces            =
=============================================*/

$SPACE_1: 0.25rem;
$SPACE_2: 0.5rem;
$SPACE_3: 0.75rem;
$SPACE_4: 1rem;
$SPACE_5: 1.25rem;
$SPACE_6: 1.5rem;
$SPACE_7: 1.75rem;
$SPACE_8: 2rem;
$SPACE_9: 2.25rem;
$SPACE_10: 2.5rem;

/*=====  End of Spaces  ======*/

/*=============================================
=            Grid            =
=============================================*/
$GRID_COLUMNS: 12;
$GRID_GAP: 1rem;

/*=====  End of Grid  ======*/
