@use './base' as *;
@use './headings';
@use './atoms/atoms';

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  body {
    font-family: "Libre Franklin", sans-serif;
    color: $primary-900;
    font-size: 1rem;
  }
}

.card {
  background-color: rgb(236, 233, 246);
  padding: 1rem;
  margin: 0 auto;
  display: block;
  max-width: 500px;
}

p {
  margin-top: 0;
}

a {
  color: $primary-500;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.toast-content {
  color: $primary-900;
}

// Import Tailwind last so custom styles take precedence
@import './tailwind.css';
