@use './base' as *;
@use './headings';
@use './atoms/atoms';

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  body {
    font-family: "Libre Franklin", sans-serif;
    font-size: 1rem;
  }
}

.card {
  background-color: $violet-50;
  padding: 1rem;
  margin: 0 auto;
  display: block;
  max-width: 500px;
  border-radius: 1rem;
}

p {
  margin-top: 0;
}

.toast-content {
  color: $primary-900;
}

// Import Tailwind last so custom styles take precedence
@import './tailwind.css';
