@import "./base";
@import "./headings";

<<<<<<< HEAD
@import "./atoms/atoms";

=======
>>>>>>> 8842558 (assets/scss)
* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.5rem;
<<<<<<< HEAD
  color: $primary-900;
=======
>>>>>>> 8842558 (assets/scss)
}

.card {
  background-color: rgb(236, 233, 246);
  padding: 1rem;
  margin: 0 auto;
  display: block;
  max-width: 500px;
}
