@import "../../assets/scss/base";
button {
  border: none;
  background-color: transparent;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 8px;
  border-radius: 30px;
  border: none;
  letter-spacing: 0.5px;
  transition-duration: 0.5s;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  &:disabled,
  &:disabled.btn-solid,
  &:disabled.btn-outlined {
    background-color: $primary_100;
    color: $primary_300;

    &:hover {
      cursor: not-allowed;
    }
  }
  &-solid {
    color: #fff;
  }

  &-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50% !important;
    padding: 0.5rem !important;
    justify-content: space-between;
  }

  // Primary
  &-solid.btn-primary {
    background-color: $primary_500;

    &:hover:not(:disabled) {
      background-color: $primary_600;
    }
  }

  &-outlined.btn-primary {
    background-color: transparent;
    border: 1px solid $primary_500;
    color: $primary_500;

    &:hover {
      background-color: $primary_100;
    }

    &:disabled {
      background-color: transparent;
      border-color: $primary_200;
    }
  }

  // Secondary
  &-solid.btn-secondary {
    background-color: $secondary_500;

    &:hover {
      background-color: $secondary_600;
    }
  }

  &-link.btn-secondary {
    color: $secondary_500;
    background-color: transparent;

    &:hover {
      background-color: $secondary_100;
    }
  }

  &-outlined.btn-secondary {
    background-color: transparent;
    border: 1px solid $secondary_500;
    color: $secondary_500;

    &:hover {
      background-color: $secondary_100;
    }

    &:disabled {
      background-color: transparent;
      border-color: $secondary_200;
    }
  }

  // Error
  &-solid.btn-error {
    background-color: $secondary_500;

    &:hover {
      background-color: $secondary_600;
    }
  }

  &-outlined.btn-secondary {
    background-color: transparent;
    border: 1px solid $secondary_500;
    color: $secondary_500;

    &:hover {
      background-color: $secondary_100;
    }

    &:disabled {
      background-color: transparent;
      border-color: $secondary_200;
    }
  }
}
