@use '../../../../assets/scss/base' as *;

.Feedback {
  .feedback-box {
    margin-top: 1.5rem;
    padding: 1rem;
    background: $primary-50;
    border-left: 4px solid $primary-500;
    border-radius: 0 8px 8px 0;
    color: $primary-700;
  }
}
