@use '../../../assets/scss/variables' as *;

.Pagination {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  .Select {
    width: 80px;
  }
  .pagination__container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    flex: 1 0;
  }

  .pagination__page {
    font-size: 0.875rem;
    border: none;
    background: transparent;

    border-bottom: 2px solid transparent;

    &--active {
      font-weight: 700;
      color: $primary-500;
      border-bottom: 2px solid $primary-500;
    }
  }

  .pagination__navigation {
    width: 24px;
    height: 24px;
    border: none;
    background: $primary-500;
    color: #fff;
    border-radius: 4px;
    display: grid;
    place-items: center;

    &:disabled {
      opacity: 0.5;
    }
  }
}
