@import "../../assets/scss/base";
.modal {
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1022;
  background-color: #fff;

  @include breakpoint(mobile) {
    width: 93%;
  }

  &--error {
    background-color: $secondary-100;

    .modal__header__title {
      color: $secondary-500;
    }
  }

  &--success {
    background-color: $success-100;

    .modal__header__title {
      color: $success-500;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 16px;

    &__title {
      margin-bottom: 0;
    }
  }

  &__body {
    margin-bottom: 24px;

    p {
      margin-bottom: 1rem;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
}

.modal--backdrop {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba($primary-900, 0.6);
  position: fixed;
  z-index: 1021;
}
