@import "../../../../assets/scss/variables.scss";
.QuestionNavigation {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  grid-template-rows: auto;
  gap: 1rem;
  justify-content: center;

  &__button {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 4px;
    color: $primary-500;
    &.answered {
      background-color: $primary-100;
      border-color: $primary-100;
    }
    &.bookmarked {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: -4px;
        right: -4px;
        width: 10px;
        height: 10px;
        background-color: $warning-500;
        border-radius: 50%;
      }
    }
    &.active {
      background-color: $primary-500;
      border-color: $primary-500;
      color: $primary-50;
    }
  }
}
