@use '../../../../assets/scss/variables' as *;
.QuestionNavigation {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  grid-template-rows: auto;
  gap: 1rem;
  justify-content: center;

  &__button {
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
    padding: 4px;
    border-radius: 4px;

    &.bookmarked {

      &:before {
        content: "";
        position: absolute;
        top: -4px;
        right: -4px;
        width: 10px;
        height: 10px;
        background-color: $warning-500;
        border-radius: 50%;
      }
    }
    &.answered {
  &:before {
        content: "";
        position: absolute;
        top: -4px;
        right: -4px;
        width: 10px;
        height: 10px;
        background-color: $success-500;
        border-radius: 50%;
      }
    }
  }
}
