@use "../../assets/scss/variables" as *;

.stat-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.02);
  //height: 100%;

  &:hover {
    transform: translateY(-5px);
    background: #ffffff;
    box-shadow: 0 12px 30px rgba(82, 54, 171, 0.08);
    border-color: rgba(82, 54, 171, 0.1);

    .icon-container {
      background: $primary-50;
      color: $primary-600;
      transform: scale(1.1) rotate(-3deg);
    }
  }

  &.success {
    border-color: rgba($success-500, 0.1);

    .icon-container {
      color: $success-500;
    }
  }

  &.warning {
    border-color: rgba($warning-500, 0.1);

    .icon-container {
      color: $warning-500;
    }
  }

  &.info {
    border-color: rgba($primary-300, 0.1);

    .icon-container {
      color: $primary-400;
    }
  }

  &.danger {
    border-color: rgba($secondary-500, 0.1);

    .icon-container {
      color: $secondary-500;
    }
  }

  &.is-featured {
    background: #ffffff;
    border-width: 2px;
    box-shadow: 0 15px 35px rgba(82, 54, 171, 0.1);
    transform: translateY(-5px);


    &.success .icon-container {
      width: 56px;
      height: 56px;
      background: $success-100;
    }

    &.warning .icon-container {
      width: 56px;
      height: 56px;
      background: $warning-100;
    }

    &.info .icon-container {
      width: 56px;
      height: 56px;
      background: $primary-100;
    }

    &.danger .icon-container {
      width: 56px;
      height: 56px;
      background: $secondary-100;
    }

    .stat-content {
      strong {
        font-size: 2rem;
        font-weight: 800;
      }

      span {
        font-weight: 700;
        color: $primary-800;
      }
    }

    &.success {
      background: $success-50;
      border-color: $success-200;
    }

    &.warning {
      background: $warning-50;
      border-color: $warning-200;
    }

    &.info {
      background: $primary-50;
      border-color: $primary-200;
    }

    &.danger {
      background: $secondary-50;
      border-color: $secondary-200;
    }
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background: #f8f9fa;
    color: $primary-400;
    transition: all 0.3s ease;
    flex-shrink: 0;
  }

  .stat-content {
    display: flex;
    flex-direction: column;

    strong {
      font-size: 1rem;
      color: $primary-900;
      margin-bottom: 0.25rem;
      line-height: 1.2;
    }

    span {
      font-size: 0.65rem;
      color: $primary-700;
      line-height: 1.4;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.02em;
    }
  }
}
