@import "../../../../assets/scss/variables.scss";
.ModalEditQuestion {
  /* Ajoutez vos styles ici */
  .modal {
    width: 70vw;
  }
  .answer {
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    margin-bottom: 1rem;
    border-radius: 8px;
    input {
      margin-top: 0 !important;
    }
    label:before {
      top: 20px;
    }
    label:after {
      top: 24px;
    }
  }

  .comment {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: $secondary-50;
    border-radius: 8px;
  }
}

.reportedCheckbox {
  border-radius: 4px;
  border: 1px solid $primary-50;
  margin-bottom: 1.5rem;
  padding: 0 12px;
  width: 120px;
  position: relative;
  display: flex;
  align-items: center;
  &.selected {
    border: 1px solid $secondary-50;
    background-color: $secondary-50;
  }
  label {
    margin-left: 25px;
  }
}
