.Counter {
  .countdown {
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1px solid hsl(0 0% 50% / 0.5);
    font-size: 1.5rem;
    position: relative;
    height: 100px;
    &::after {
      content: "";
      position: absolute;
      inset: calc(var(--border-size) * -0.5);
      border-radius: inherit;

      --degree: calc(360deg / var(--num) * (var(--num) - var(--value, 0)));
      background-image: conic-gradient(
        #e41937 var(--degree),
        transparent calc(var(--degree) + 0.1deg)
      );
      --num: 60;
      --border-size: 4px;
      --mask-image: radial-gradient(
        closest-side at 50% 50%,
        transparent calc(50% - var(--border-size)),
        black calc(50% - var(--border-size) + 1px)
      );
      -webkit-mask-image: var(--mask-image);
      mask-image: var(--mask-image);
      z-index: -1;
    }
    &__content {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      align-items: center;
    }
  }
}
