@use "../../../../assets/scss/variables" as *;

.role-checker-loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
	gap: 1rem;

	.spinner {
		width: 40px;
		height: 40px;
		border: 4px solid $primary-200;
		border-top-color: $primary-600;
		border-radius: 50%;
		animation: spin 1s linear infinite;
	}

	p {
		color: $primary-600;
		font-size: 1rem;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
