@use "../../../../assets/scss/variables" as *;
@use "../../../../assets/scss/mixins" as *;

.stats-overview-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .stats-overview-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
