@import "../../assets/scss/variables.scss";
.ModalEditQuestion {
  /* Ajoutez vos styles ici */
  .modal {
    width: 70vw;
  }
  .answer {
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    margin-bottom: 1rem;
    border-radius: 8px;
    input {
      margin-top: 0 !important;
    }
    label:before {
      top: 20px;
    }
    label:after {
      top: 24px;
    }
  }

  .comment {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: $secondary-50;
    border-radius: 8px;
  }
}
